.flatpickr-calendar {
  font-family: sans-serif !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: #c2372f !important;
  border-color: #c2372f !important;
}

.flatpickr-day:hover {
  background: #f0f0f0 !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #c2372f !important;
}
